footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #343a40;
  color: white;
}

.jumbotron-instrument {
  background-size: cover;
  color: white;
  height: 500px;
}

.jumbotron-guitar {
  background-image: url("../assets/guitar.jpg");
}

.jumbotron-piano {
  background-image: url("../assets/piano.jpg");
}

.jumbotron-violin {
  background-image: url("../assets/violin.jpg");
}
